@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">

    </section>
}


<div class="panel panel-default">
    <div class="panel-body">
        Basic panel example
    </div>
</div>
